<div class="div-header">
    <div class="div-header-title">
        <h1 style="font-family: cursive;">BLOCKPAY</h1>
    </div>
    
    <div class="div-header-buttons">
        <button mat-raised-button (click)="emitToggle()"></button>
    </div>

    <div class="div-header-user">
        <div class="group">
           <ng-container *ngIf="!statusMensagem; else mensagemStatus">
                <button mat-raised-button color="primary" (click)="criarGrupo()">Criar grupo</button>
                <button mat-raised-button color="accent">Entrar no grupo</button>
            </ng-container>

            <!-- Mensagem exibida quando houver statusMensagem -->
            <ng-template #mensagemStatus>
                <p [ngClass]="{ 'sucesso': statusMensagem.includes('sucesso'), 'erro': statusMensagem.includes('Erro') }"
                class="status-mensagem">
                {{ statusMensagem }}
                </p>
            </ng-template>
        </div>
        <div class="exit">
            <button mat-raised-button>sair</button>
        </div>
    </div>


</div>