<div class="div-header">
    <div class="div-header-title">
        <h1 style="font-family: cursive;">BLOCKPAY</h1>
    </div>
    
    <div class="div-header-buttons">
        <button mat-raised-button (click)="emitToggle()"></button>
    </div>

    <div class="div-header-user">
        <div class="group">
            <h4>meu grupo</h4>
            <button mat-raised-button>Criar grupo</button>
            <button mat-raised-button>Entrar no grupo</button>
        </div>
        <div class="exit">
            <button mat-raised-button>sair</button>
        </div>
    </div>


</div>