<h2 mat-dialog-title>Formulário</h2>
<mat-dialog-content>
  <form>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Título</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Preço</mat-label>
      <input matInput type="number">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Data</mat-label>
      <input matInput type="date">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary">Salvar</button>
</mat-dialog-actions>
