<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>PoC MetaMask + Smart Contract</title>
</head>
<body>
  <h1>Prova de Conceito com MetaMask</h1>

  <button onclick="connectWallet()">Conectar Carteira</button>
  <button onclick="criarGrupo()">Criar Grupo</button>
  <button onclick="entrarNoGrupo()">Entrar no Grupo</button>
  <button onclick="verMeuGrupo()">Ver Meu Grupo</button>
  <button onclick="registrarPagamento()">Registrar pagamento</button>
  <button onclick="verPagamentosDoGrupo()">Ver Pagamentos do Meu Grupo</button>
  <button onclick="verPagamentosPessoais()">Ver Pagamentos Pessoais</button>

  <script type="module" src="./blockpay_poc.js"></script>
</body>
</html>
